@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');

:root {
    --corprimaria: #191A19;
    --corsecundaria: #1E5128;
    --corterciaria: #4E9F3D;
}

body { 
    background: var(--corsecundaria);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Hepta Slab', sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho h1 {
    color: var(--corterciaria);
}

.cabecalho img {
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}

.container-input{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input {
    width: 400px;
    height: 330px;
}

#input-texto{
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: var(--corterciaria);
    background: transparent;
    box-shadow: none;
    border: none;
    resize: none;
    outline: 0;
    padding: 10px;
    text-transform: uppercase;
}

#input p {
    width: 450px;
}

#output {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--corterciaria);
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    height: px;
    margin-right: 3%;
}

#output img {
    display: flex;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
    margin-top: 4%;
    padding-left: 75px;
}

#output h2 {
    text-align: center;
    font-size: 23px;
    color: var(--corterciaria);
}

#output span {
    font-size: 16px;
    text-align: center;
}

.container-btn button{
    border: 2px solid var(--corterciaria);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corprimaria);
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.btn-copiar {
    border: 2px solid var(--corterciaria);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corprimaria);
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container-btn button:hover {
    border: 2px solid var(--corsecundaria);
    transition: 0.5s all;
}

.rodape {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-top: 15px;
    background: var(--corprimaria);
    color: var(--corterciaria);
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.rodape p {
    font-size: 16px;
}
